<table class="table">
    <tr>
      <th>نام کود</th>
      <th>مقادیر</th>
    </tr>
    <tr>
        <td>سولفات منیزیم</td>
        <td>{{ Obj.solfat_manianziom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>نیترات پتاسیم</td>
        <td>{{ Obj.nitrat_potasiom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>نیتروژن</td>
        <td>{{ Obj.nitrozhen|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>کلات آهن</td>
        <td>{{ Obj.kalat_ahan|default_if_none:"*" }}</td>
    </tr>
    <tr>
      <td>نیترات کلسیم</td>
      <td>{{ Obj.nitrat_calsiom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>فسفر</td>
        <td>{{ Obj.fosfor|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>پتاسیم</td>
        <td>{{ Obj.potasiom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>کلسیم</td>
        <td>{{ Obj.calsiom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>منیزیم</td>
        <td>{{ Obj.maniaziom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>اوره</td>
        <td>{{ Obj.ore|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>دی آمونیوم فسفات</td>
        <td>{{ Obj.diamoniomfosfat|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>سوپر فسفات پربپل</td>
        <td>{{ Obj.soperfosfattripl|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>سوکسترین آهن</td>
        <td>{{ Obj.sokesterinahan|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>سولفات منگنز</td>
        <td>{{ Obj.solfatmanganez|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>سولفات روی</td>
        <td>{{ Obj.solfatroy|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>سولفات مس</td>
        <td>{{ Obj.solfatmes|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>اسید بوریک</td>
        <td>{{ Obj.asidborik|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>سولفات منیزیم</td>
        <td>{{ Obj.solfatmaniaziom|default_if_none:"*" }</td>
    </tr>
    <tr>
        <td>پتاسیم فسفات</td>
        <td>{{ Obj.potasiomfosfat|default_if_none:"*" }}/td>
    </tr>
    <tr>
        <td>نیترات آمونیم</td>
        <td>{{ Obj.nitratamoniom|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>پتاسیم اکسید</td>
        <td>{{ Obj.potasiomoksid|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>فسفات</td>
        <td>{{ Obj.fosfat|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>نیتروژن نیتراتی</td>
        <td>{{ Obj.nitrozhennitarti|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>نیتروژن آمونیومی</td>
        <td>{{ Obj.nitrozhenamoniomi|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>گوگرد</td>
        <td>{{ Obj.gogerd|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>بور</td>
        <td>{{ Obj.bor|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>مس</td>
        <td>{{ Obj.mes|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>منگنز</td>
        <td>{{ Obj.manganez|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>مولیبدن</td>
        <td>{{ Obj.molibden|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>روی</td>
        <td>{{ Obj.roy|default_if_none:"*" }}</td>
    </tr>
    <tr>
        <td>آهن</td>
        <td>{{ Obj.ahan|default_if_none:"*" }}</td>
    </tr>
  </table>
