{% extends "Userdata/base.html" %}
{% load static %}
{% block title %} ورود {% endblock title %}
{% block nav-style %} mkt-nav {% endblock nav-style %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'accounts/loginstyle.css' %}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
{% block content %}

{% if error %}
{{ error }}
{% endif %}


<form action="{% url 'login' %}" role="form" class="col-lg-6 offset-lg-3" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="row justify-content-center mb-3"><b>ورود</b> </div>
        {% for field in form %}
            <div class="input-group w-50" style="margin-left: 160px;">
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="row justify-content-center mt-3">
                {% if request.GET.next %}
                <input type="hidden" name='next' value={{ request.GET.next }}/>
                {% endif %}
            <input type="submit" class="btn btn-primary" value="تایید" />
        </div>
    </div>
</form>

{% endblock content %}




