{% extends "Userdata/base.html" %}
{% load static %}
{% block title %} ورود {% endblock title %}
{% block nav-style %} mkt-nav {% endblock nav-style %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'accounts/loginstyle.css' %}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
{% block content %}

{% if error %}
{{ error }}
{% endif %}
<div class="container" style="max-width: 700px;margin: auto;">
    <div class="container-fluid" style="max-width: 1000px;">
        <div id="data-box" class="col-md-12">
            <form id="data-form" class="form" action="" method="post">
                {% csrf_token %}
                <h3 class="text-center text-info">ورود</h3>
                {{ form.as_p }}
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}