{% extends 'Userdata/base.html' %}
{% load static %}
{% block title %}ثبت نام{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'accounts/signupstyle.css' %}" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
{% block content %}
<form action="{% url 'signup' %}" role="form" class="col-lg-6 offset-lg-3" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="row justify-content-center mb-3"><b>ثبت نام</b> </div>
        {% for field in form %}
            <div class="input-group w-50" style="margin-left: 160px;">
                {{ field }}
            </div>
            <div class="row justify-content-center mb-3">
            {{ field.errors }}
            </div>
        {% endfor %}
        <div class="row justify-content-center mt-3">
            <input type="submit" class="btn btn-primary" value="تایید" />
</form>
</div>
{% endblock content %}
